*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#landing{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 0 3vw;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.2vw;
    font-size: 1.25vw;
    font-weight: 400;
}

.hudu{
    margin-top: 100px;
    font-size: 6vw;
    opacity: 0.7;
    text-align: center;
    
}

.hudu h1{
    border-bottom: 1px solid white;
    font-weight: 500;
    border-radius: 25px;
}

#landing1{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    
}

#landing1 video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding-left: 1vw;
}

#landing2{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.beta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vw 0vw 3vw 3vw;
}

.ui p{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.9;
    opacity: 0.8;
}

.hu p {
    font-weight: 400;
    font-size: 1.125rem;
}
.hu .say{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 3vw;
}

.hu a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 12px;
    font-weight: 500;

}

.hu a:hover{
    background-color: white;
    color: black;
    
    transition: all .3s ease;
}

.hu h5{
    font-size: 1vw;
    opacity: 0.7;
    font-weight: 500;
}

#landing3{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.imgi img{
    width: 50%;
    height: 100vh;
    object-fit: cover;
    margin-left: 26vw  ;
}


#landing4{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.vis h1{
    padding-top: 15vw;
    margin-bottom: 4vw;
    font-size: 4vw;
    font-weight: 600;
    padding-left: 3vw;
    opacity: 0.7;

}

.vis h6{
    font-size: 1vw;
    font-weight: 500;
    opacity: 0.7;
    padding-left: 3vw;
}

.vis p{
    padding-left: 3vw;
    font-size: 1.125rem;



}

.vis .imper{
    margin-top: 3vw;
}

#landing5{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.imges{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

#landing6{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 0 3vw;
}

#landing6 h4{
    padding-top: 12vw;
    opacity: 0.9;
    font-size: 1.2vw;
    font-weight: 500;
    /* padding-left: 3vw; */

}
.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
    border-bottom: 1px solid white;
    
}

.end h1{
    font-size: 7.5vw;
    font-weight: 600;
    opacity: 0.6;
    /* padding-left: 3vw; */
    
    
}

.end h3{
    padding-right: 9.5vw;
    font-weight: 400;
    opacity: 0.8;
    font-size: 17px;
}

.end a{
    text-decoration: none;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 16.8vw;
}
.est{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    /* padding-left: 3vw; */
    font-weight: 500;
    opacity: 1;
}

.drib{
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    /* padding-right: 3vw; */
    font-weight: 500;
}

